.project {
    width: 100%;

    /* hide overflow content caused by border-radius */
    overflow: hidden;
}

.project img {
    object-fit: cover;
    object-position: top;

    border-radius: var(--radius-size);
    border: 1px solid black;

    max-height: var(--project-height);
    height: auto;
    width: 100%;

    transition: max-height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project img:hover,
.project img:active {
    max-height: calc(var(--project-height) * 3);
}

.left {
    min-height: 100vh; /* full screen mobile */
    max-height: 100vh; /* full screen desktop */

    top: 0;
}

.right {
    min-height: 100vh;
}

/* md screens */
@media screen and (min-width: 768px) {
    .left {
        position: sticky;
    }
}

/* sm screens */
@media screen and (max-width: 768px) {
    /* show more of the image on smaller screens */
    .project img {
        max-height: calc(var(--project-height) * 2);
    }
    .project img:hover {
        max-height: calc(var(--project-height) * 5);
    }
}
